<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра в правду.Интерактивная развлекательная онлайн-игра по мотивам шоу "Игра в правду" </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="shortcut icon" type="image/x-icon" href="" />
</head>
<body>

<header class="header">
    <div class="header-container container">
        <div class="header-content flex">
            <ul class="header-list list-reset flex">
                <li class="header-item">
                    <a href="#">
                        Правила игры
                    </a>

                </li>
                <li class="header-item">
                    <a href="#">
                        Личный кабинет
                    </a>
                </li>
                <li class="header-item">
                    <a href="#">
                        Выбрать комнату
                    </a>
                </li>
                <li class="header-item">
                    <a href="#">
                        Создать комнату
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>

<section id="hero" class="hero">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title">
                ИГРА В ПРАВДУ
            </h1>
            <div class="form-container">
                <form class="game-form">
                    <label class="name" for="playerName">Имя игрока:</label>
                    <input class="game-form-input" type="text" id="playerName" name="playerName" required>

                    <label class="password" for="password">Пароль:</label>
                    <input class="game-form-input" type="password" id="password" name="password" required>

                    <label class="password" for="password">Подтвердите пароль:</label>
                    <input class="game-form-input" type="password" id="password" name="password" required>

                    <button type="submit" class="start-game-button">Войти</button>
                </form>
                <a class="registr" href="/registr.html"> Зарегистрироваться</a>
            </div>
        </div>
    </div>

</section>



<footer class="footer">
    <div class="container footer-container">
        <div class="footer-content flex">
            <h4 class="footer-title">Все права защищены 2024: &copy;</h4>
        </div>

    </div>
</footer>


</body>
</html>